.navbar
    padding-top: 7px
    padding-bottom: 8px
    &-block
        display: flex
        justify-content: space-between
        align-items: center
    &__info
        display: flex
        align-items: center
        text-align: right
    &__contacts
        display: flex
        flex-direction: column
    
    &__button
        margin-left: 30px
        font-weight: 700
        font-size: 13px
    &__phone 
        display: inline-block
        color: $text-color
        font-size: 20px
        font-weight: 700
        text-decoration: none
        padding-top: 10px
    &__adress
        font-size: 13px
@media (max-width: 768px)
    .navbar
        &__contacts
             display: none
        &__button
            font-style: 12px
            padding: 15px 26px
            width: 50%
        &__logo
            width: 91px
            width: 50%
    